<footer id="footer">
	<div class="container">
		<table class="basic-info">
			<tbody>
				<tr>
					<td align="left">
						&copy;&nbsp;{{i18n .Lang "app_name"}} | <a href="/about">{{i18n .Lang "about"}}</a> | <a href="/faq">FAQ</a>
					</td>
					<td align="right"><a href="http://www.miitbeian.gov.cn/" style="color:#aaa;text-decoration:none;">沪ICP备13014075号-2</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</footer>
<div class="return-top" title="">
  <span class="s"></span>
  <span class="b"></span>
</div>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>