<!--Here we layout an array of posts-->
{{range .Posts}}
<div class="post">
	<div class="avatar">
		<a href="{{.User.Link}}" title="{{.User.NickName}}">
			<img src="{{.User.AvatarLink48}}">
		</a>
	</div>
	<h3 class="title">
		<a href="{{.Link}}">{{.Title}}</a>{{if .IsBest}} <i class="icon-bookmark color-red"></i>{{end}}
	</h3>
	<div class="meta">
		{{if not $.root.IsCategory}}<a class="tag" href="{{.Category.Link}}">{{.Category.Name}}</a> • {{end}}{{if not $.root.IsTopic}}<a class="tag" href="{{.Topic.Link}}">{{.Topic.Name}}</a> • {{end}}<a href="{{.User.Link}}">{{.User.NickName}}</a> • <span class="time">{{timesince $.root.Lang .Created}}</span>{{if .Replys}}{{if .LastReply}} • <span class="last-reply">{{i18n $.root.Lang "post.last_reply"}} <a href="{{.LastReply.Link}}">{{.LastReply.NickName}}</a></span> • <span class="time">{{timesince $.root.Lang .LastReplied}}</span>{{end}}{{end}}
		<div class="data hidden-xs pull-right">
			 {{if .Replys}}{{.Replys}} <span class="glyphicon glyphicon-comment"></span>{{end}} {{if .Favorites}}{{.Favorites}}<i class="icon-heart"></i>{{end}}{{if .Browsers}}{{.Browsers}} <span class="glyphicon glyphicon-eye-open"></span>{{end}}
		</div>
	</div>
</div>
{{end}}