{{template "base/base.html" .}}
{{template "base/base_common.html" .}}
{{define "meta"}}
    <title>{{.TheUser.NickName}} - {{i18n .Lang "app_name"}}</title>
{{end}}
{{define "body"}}
<div id="content" class="user-page">
    <div class="row">
        <div class="col-md-3">
            {{template "user/component/user-info.html" .}}
        </div>
        <div id="content" class="col-md-9">
            <div class="box">
                <ol class="breadcrumb">
                    <li><a href="{{.TheUser.Link}}"><i class="icon-user"></i></a></li>
                    <li>{{i18n .Lang "user.favorite_posts" .TheUser.NickName}}</li>
                </ol>                
                {{if .paginator.Nums}}
                <div class="post-list">
                    {{template "post/component/posts.html" dict "root" . "Posts" .TheUserFavoritePosts}}
                    <div class="post-pg">
                    {{template "base/paginator_pn.html" .}}
                    </div>
                </div>
                {{else}}
                    <div class="">
                    {{i18n .Lang "user.lazy_info"}}
                    </div>
                {{end}}
            </div>
        </div>
    </div>
</div>
{{end}}